[data-md-color-scheme="parabox"] {
    --md-primary-fg-color:        #3A6A1D;
    --md-primary-fg-color--light: #BAF395;
    --md-primary-fg-color--dark:  #235105;
    --md-accent-fg-color:         #3A6A1D;
    --md-code-fg-color:         #3A6A1D;
    --md-typeset-a-color: #9FD67C;
  }